/* Sopra 500px */

@media screen and (min-width: 501px) {

    .sidebar{
        width: 250px;
    }

    .logo-small{
        display: none;
    }

    .logo-big{
        display: block;
        width: 70%;
    }

    .sidebar ul p{
        display: block;
        font-weight: bold;
    }

    .sidebar ul li{
        align-items: center;
        gap: 16px;
        justify-content: flex-start;
    }

    .icon-24.profile{
        height: 24px;
        background-color: #b3b3b3;
        border-radius: 50%;
    }

    hr{
        display: block;
        margin-bottom: var(--spacing-m);
        color: #b3b3b3;
    }

    .content {
        padding: 16px 0 16px 250px;
}
}