/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-footer: #242424;
    --bg-main: darkblue;
    --bg-sidebar: #000;

    --spacing-m: 16px;
    --spacing-l: 24px;
}

/*Generics*/
body{
    font-family: 'Montserrat', sans-serif;
}

main{
    flex-grow: 1;
    overflow: auto;
    background-color: var(--bg-main);
    position: relative;
    padding-top: 110px;
}

hr{
    display: none;
}

footer {
    background-color: var(--bg-footer);
    height: 100px;
    flex-shrink: 0;
    z-index: 1;
}


/*Utils*/

.container{ 
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.icon-24{
    width: 24px;
}

.icon-38{
    width: 38px;
}

/*Sidebar*/

.sidebar{
    width: 70px;
    background-color: var(--bg-sidebar);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 100px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-big{
    display: none;
}

.sidebar ul{
    padding: var(--spacing-m);
    color: white;
    list-style-type: none;
}

.sidebar ul li{
    margin-bottom: var(--spacing-m);
    display: flex;
    justify-content: center;
}

.sidebar ul p{
    display: none;
}



.content{
    max-width: calc(100% - 70px);
    margin: 0 auto;
    padding: 16px 0 16px 56px;
}

.header-content{
    height: 100px;
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}



