/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-footer: #242424;
    --bg-main: #1b1b34;
    --bg-sidebar: #000;
    --text-color-primary: #fff;
    --text-color-secondary: #b3b3b3;

    --spacing-xs: 4px;
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
}

/*Generics*/
body{
    font-family: 'Montserrat', sans-serif;
}

main{
    flex-grow: 1;
    overflow: auto;
    background-color: var(--bg-main);
    display: flex;
    flex-direction: row;
}

hr{
    display: none;
}

ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
}

footer {
    background-color: var(--bg-footer);
    flex-basis: 100px;
    flex-shrink: 0;
    z-index: 1;
    padding: var(--spacing-m);
    color: var(--text-color-primary);
    display: flex;
    align-items: center;
    gap: var(--spacing-m);

}

h4,
h3{
    color: var(--text-color-primary);
    margin: var(--spacing-m) 0;
}

h6{
    color: var(--text-color-secondary);
}

img{
    width: 100%;
}

section{
    margin-bottom: var(--spacing-xl);
}

section h6{
    margin-bottom: var(--spacing-m);
}


/*Utils*/

.container{ 
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.icon-24{
    width: 24px;
}

.icon-38{
    width: 38px;
}

.row{
    display: flex;
    margin: -16px;
    flex-wrap: wrap;
}

.col{
    padding: 16px;
    text-align: center;
}

.fb-2{
    flex-basis: calc(100% / 2);
}






/*Sidebar*/

.sidebar{
    flex-basis: 70px;
    background-color: var(--bg-sidebar);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--spacing-m);
}


.sidebar li:hover {
    color: var(--text-color-primary);
}

.logo-big{
    display: none;
}

.sidebar ul{
    
    color: var(--text-color-secondary);
    list-style-type: none;
    flex-direction: column;
}

.sidebar ul li{
    margin-bottom: var(--spacing-m);
    display: flex;
    justify-content: center;
}

.sidebar ul p{
    display: none;
}

.playlist{
    margin-bottom: var(--spacing-m);
    display: none;
}

.add-playlist{
    color: var(--text-color-secondary);
    display: flex;
    gap: var(--spacing-s);
    align-items: center;
}

.add-playlist i{
    font-size: 32px;
}

/*main content*/


.content{
    flex-grow: 1;
    overflow: auto;
}

.content-page{
    padding: var(--spacing-m);
}

.content-page a{
    color: var(--text-color-secondary);
    text-decoration: none;
}

.content-page nav{
    margin: 30px 0;
    font-size: 14px;
}

.content-page li:hover a{
    color: var(--text-color-primary);
}

.content-page nav ul{
    justify-content: center;
    gap: var(--spacing-xl);
    font-weight: bold;
}

.popular-artists img{
    border-radius: 50%;
}

/*header Content*/

.header-content{
    height: 100px;
    background: #000000;
    opacity: 0.7;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: var(--spacing-m);
    text-align: right;
}

.header-content a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: var(--spacing-m) var(--spacing-l);
    border: 2px solid #fff;
    line-height: 100px;
    margin-right: var(--spacing-m);
    border-radius: 50px;
}

/*footer*/

.footer-track-cover{
    height: 40px;
    width: 40px;
}

.footer-track{
    gap: var(--spacing-s);
    display: flex;
    align-items: center;
}

.album-title{
    font-size: 14px;
    font-weight: bold;
}

.album-soundtrack-album{
    font-size: 12px;
    color: var(--text-color-secondary);
}

.footer-icons{
    color: var(--text-color-secondary);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}

.footer-section{
    flex-basis: calc(100% / 3);
}

.progress-bar{
    height: 5px;
    background-color: var(--text-color-secondary);
    border-radius: 3px;
    position: relative;
    flex-basis: 80%;

}

.footer-player-controller{
    margin-bottom: var(--spacing-m);
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center
}

.footer-player-controller .play{
    font-size: 24px;
}

.current-progress{
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 30%;
    background-color: grey;
    border-radius: 3px;
}

.footer-player-progress-bar{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-m)
}

.footer-player-progress-bar::before{
    content: '0:25';
}

.footer-player-progress-bar::after{
    content: '4:35';
}

.footer-settings{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-end;
}

.footer-volume-progress-bar{
    flex-basis: 40%;
}





